<!DOCTYPE html>
<html>
  <head>
    <title>fis3 ejs 打包DEMO--<%= title %></title>
    <link rel='stylesheet' href='public/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <script type="text/javascript" src="public/javascripts/test1.js"></script>
    <script type="text/javascript" src="public/javascripts/test2.js"></script>
    <script type="text/javascript">
      var test3={
        v:"3"
      }
    </script>
  </body>
</html>
